body {
  background-color: #f2f2f2;
  font-family: "Raleway"; /* OPTIONAL: Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway"; /* OPTIONAL: Google Fonts - title font */
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
  color: #1CBCAD;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Tab Wrap */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* ------------------------------------------------------------------------------- */
/*  3.  Navigation
/* ------------------------------------------------------------------------------- */

.navigation {
  height: 60px;
  width: 100%;
  text-align: center;
}

.navigation ul {
  display: block;
  list-style: none;
}
.navigation .tabs li {
  width: 106px;
  float: left;
  margin-left: 2px;
  border: 1px solid #000;
}

.navigation .tabs li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-blend-mode: inherit;
  color: #009;

}

.navigation a:hover {
  background-color: #009;
  color: #fff;
}


/*
.navigation {
  height: 123px;
  position: relative;
  text-align: center;
}
.tabs {
  margin-top: 12px;
  display: inline-block;
}
.tabs li {
  float: left;
  margin: 0 2px;
}
.tabs li > a {
  width: 106px;
  height: 26px;
  padding-top: 45px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #6a4a16;
  text-decoration: none;
}
.tabs li a:hover {
  background-color: rgba(122, 70, 9, 0.15);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(59, 31, 0, 0.4) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
     -moz-box-shadow: 0 1px 3px rgba(59, 31, 0, 0.4) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
          box-shadow: 0 1px 3px rgba(59, 31, 0, 0.4) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
}
.tabs li.active {
  background: -moz-linear-gradient(top, rgba(218, 169, 104, 0.45) 0%, rgba(122, 70, 9, 0.45) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(218, 169, 104, 0.45)), color-stop(100%, rgba(122, 70, 9, 0.45)));
  background: -webkit-linear-gradient(top, rgba(218, 169, 104, 0.45) 0%, rgba(122, 70, 9, 0.45) 100%);
  background: -o-linear-gradient(top, rgba(218, 169, 104, 0.45) 0%, rgba(122, 70, 9, 0.45) 100%);
  background: -ms-linear-gradient(top, rgba(218, 169, 104, 0.45) 0%, rgba(122, 70, 9, 0.45) 100%);
  background: linear-gradient(top, rgba(218, 169, 104, 0.45) 0%, rgba(122, 70, 9, 0.45) 100%);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(59, 31, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
     -moz-box-shadow: 0 1px 3px rgba(59, 31, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
          box-shadow: 0 1px 3px rgba(59, 31, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.35);
}*/

/* ------------------------------------------------------------------------------- */
/*  .  Welcome Section
/* ------------------------------------------------------------------------------- */

#welcome {
  overflow: hidden;
}


/* ------------------------------------------------------------------------------- */
/*  .  Header Section
/* ------------------------------------------------------------------------------- */
.header {
  background: #1CBCAD;
  background: url(../images/header-bg.jpg) no-repeat center top;
  padding-top:5%;
  padding-bottom: 5%;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  /*background: rgba(0,0,0,0.2);*/
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header a {
  color: #fff;
}

.header h5, p {
  color: white;
}

.header i {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/* ------------------------------------------------------------------------------- */
/*  .  About Section
/* ------------------------------------------------------------------------------- */
.about {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/* ------------------------------------------------------------------------------- */
/*  .  Footer Section
/* ------------------------------------------------------------------------------- */
.footer {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     desc
/* ------------------------------------------------------------------------------- */
.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     thesis
/* ------------------------------------------------------------------------------- */
.thesis {
  padding-top: 50px;
}

.thesis p {
  color: #2f2f2f;
}

.thesis t {
  color: #34495e;
  font-weight: 700;
}

.thesis company {
  color: #34495e
}

.thesis imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.thesis more {
  color: #616669;
}

.thesis ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     work
/* ------------------------------------------------------------------------------- */
.work {
  padding-top: 50px;
}

.work p {
  color: #2f2f2f;
}

.work t {
  color: #34495e;
  font-weight: 700;
}

.work company {
  color: #34495e
}

.work imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.work more {
  color: #616669;
}

.work ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     project
/* ------------------------------------------------------------------------------- */
.project {
  padding-top: 50px;
}

.project p {
  color: #2f2f2f;
}

.project t {
  color: #34495e;
  font-weight: 700;
}

.project company {
  color: #34495e
}

.project imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.project more {
  color: #616669;
}

.project ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Uncategorized
/* ------------------------------------------------------------------------------- */
sm {
  font-size: 12px;
}



.container .row p.tight {
  margin-bottom: 10px;
}

  