body {
  background-color: #f2f2f2;
  font-family: "Raleway"; /* OPTIONAL: Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway"; /* OPTIONAL: Google Fonts - title font */
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
  color: #1CBCAD;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Tab Wrap */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* ------------------------------------------------------------------------------- */
/*  3.  Navigation
/* ------------------------------------------------------------------------------- */

.navigation {
  height: 60px;
  width: 100%;
  text-align: center;
}

.navigation ul {
  margin-top: 14px;
  display: inline-block;
  list-style: none;
}
.navigation ul li {
  width: 106px;
  float: left;
  margin-left: 2px;
  border: 1px solid #000;
}

.navigation ul li a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-blend-mode: inherit;
  color: #009;

}

.navigation a:hover {
  background-color: #009;
  color: #fff;
}

/* ------------------------------------------------------------------------------- */
/*  .  Content Section
/* ------------------------------------------------------------------------------- */
#content {
  background-color: tan;
}

.content-div {
  display: none;
}
.content-div.showing {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  display: block;
}

.content-div.hiding {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  display: none;
}

/* ------------------------------------------------------------------------------- */
/*  .  Welcome Section
/* ------------------------------------------------------------------------------- */

.clear {clear: both;}

.carousel-container {
  width: 600px;
  height: 360px;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.right-arrow {
  width: 10px;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.left-arrow{
  width: 10px;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.carousel-image-holder{
  height:360px;
  width: 2400px;
  margin: 0;
  padding: 0;
  
  z-index: 1;
}

.carousel-image-holder img{
  width: 600px;
  /*float: left;*/
  margin: 0;
  padding: 0;
  display: none;
}

.carousel-buttons-container{
  width: 600px;
  text-align: center;
  margin: 15px 0 0 0;
  padding: 0;
}

.carousel-dots{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-buttons{
  background-color: #dddddd;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  cursor: pointer;
}

.carousel-buttons:last-of-type{
  margin: 0;
}

.active{
  background-color: #e67e22;
}
/* w3schools version */
/*/* {box-sizing:border-box}*/

#welcome {
  position: static;
  overflow: hidden;
}

#slideshow {
  margin: 20px auto;
  position: relative;
  width: 660px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow img{
  width: 640;
  height: 480;
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dotsa {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: royalblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dotsa:hover {
  background-color: #0b0355;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ------------------------------------------------------------------------------- */
/*  .  Header Section
/* ------------------------------------------------------------------------------- */
.header {
  background: #1CBCAD;
  background: url(../images/header-bg.jpg) no-repeat center top;
  padding-top:5%;
  padding-bottom: 5%;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  /*background: rgba(0,0,0,0.2);*/
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header a {
  color: #fff;
}

.header h5, p {
  color: white;
}

.header i {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/* ------------------------------------------------------------------------------- */
/*  .  About Section
/* ------------------------------------------------------------------------------- */
.about {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

/* ------------------------------------------------------------------------------- */
/*  .  Footer Section
/* ------------------------------------------------------------------------------- */
.footer {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     desc
/* ------------------------------------------------------------------------------- */
.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     thesis
/* ------------------------------------------------------------------------------- */
.thesis {
  padding-top: 50px;
}

.thesis p {
  color: #2f2f2f;
}

.thesis t {
  color: #34495e;
  font-weight: 700;
}

.thesis company {
  color: #34495e
}

.thesis imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.thesis more {
  color: #616669;
}

.thesis ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     work
/* ------------------------------------------------------------------------------- */
.work {
  padding-top: 50px;
}

.work p {
  color: #2f2f2f;
}

.work t {
  color: #34495e;
  font-weight: 700;
}

.work company {
  color: #34495e
}

.work imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.work more {
  color: #616669;
}

.work ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Global variables
/*     project
/* ------------------------------------------------------------------------------- */
.project {
  padding-top: 50px;
}

.project p {
  color: #2f2f2f;
}

.project t {
  color: #34495e;
  font-weight: 700;
}

.project company {
  color: #34495e
}

.project imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.project more {
  color: #616669;
}

.project ul {
  padding-left: 10px
}

/* ------------------------------------------------------------------------------- */
/*  .  Uncategorized
/* ------------------------------------------------------------------------------- */
sm {
  font-size: 12px;
}



.container .row p.tight {
  margin-bottom: 10px;
}

  