/************************************************/
/*************** Basic Components ***************/
/************************************************/

* {
    margin: 0;
    padding: 0;
    
}

html,
body {
    background-color: #f2f2f2;
    font-family: 'Raleway', 'Lato', sans-serif;  OPTIONAL: Google Fonts - base font 
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid black;
}

div {
    box-sizing: border-box;
}

section {
    padding: 40px 180px;
}

/************************************************/
/************* Reusable Components **************/
/************************************************/

.row {
    
}

.no-list-style {
    list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.temporary-h5 {
    text-align: center;
    color:darkcyan;
}

/************************************************/
/******************* Headings *******************/
/************************************************/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 300%;
    color: white;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 337.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* LINKS */

a:link,
a:visited {
    text-decoration: none;
/*    padding-bottom: 1px;*/
/*    border-bottom: 1px solid #cf6e22;*/
}

/************************************************/
/************** Section 1 - Header **************/
/************************************************/

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/audi_a4_sketch_by_bloodhound3_d2df15f.jpg);
    
/*    url(img/audi_a4_sketch_by_bloodhound3_d2df15f.jpg);*/
/*    url(img/ktm_pen_sketch_by_bloodhound3_d319zug.jpg)*/
    
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-container {
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.header-title {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%)
}

/************************************************/
/************* Section 0 - Main Nav *************/
/************************************************/

.header-nav {
    margin-top: auto;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: -0px;
/*    color: darkslateblue;*/
    color: white;
    text-decoration: none;
    font-size: 150%;
}

/* Section 2 - About Me */

.section-aboutme p {
    text-align: justify;
}

/************************************************/
/************* Section 3 - Projects *************/
/************************************************/

.section-projects {
    background: #fafafa;
}

.slideshow-container {
    padding-top: 40px;
    text-align: center;
    position: relative;
}

.slideshow-toggle-container {
    position: absolute;
    width: 120px;
    height: 110px;
}

.slideshow-toggle-info {
    position: absolute;
    bottom: 0;
    left: 17%;
    line-height: 1.25;
    opacity: 0;
    transition: 0.6s;
}

.slideshow-toggle-label {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 60px;
/*    left: 0;*/
    left: 40px;
}

.slideshow-toggle-label:hover + .slideshow-toggle-info{
    opacity: 1;
}

.slideshow-toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slideshow-toggle-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #767676;
    transition: 0.4s;
    border-radius: 34px;
}

.slideshow-toggle-span::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: all 0.3s;
    border-radius: 50%;
}

.slideshow-toggle-input:checked + .slideshow-toggle-span::before {
    transform: translateY(-26px);
}

.slideshow-toggle-input:checked + .slideshow-toggle-span {
    background-color: #0ec10e;
}

.slideshow-image-holder {
    text-align: center;
}

.slideshow-image-holder img {
    display: none;
    border-radius: 5%;
}

.slide-image.showing {
    width: 640px;
    height: 411px;
    transition: opacity .5s ease-out;
    display: inline-block;
}

.slide-image.hiding {
    transition: opacity .5s ease-out;
    display: none;
}

.image-footer {
    width: 640px;
    text-align: center;
    display: inline-block;
}

.image-caption-container p {
    display: none;
}
.image-caption-p.showing {
    display: block;
}

.image-caption-p.hiding {
    display: none;
}

.slideshow-buttons-container {
}

.carousel-dots-ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.carousel-dots-li {
    background-color: #ddd;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 0 0;
    padding: 0;
    cursor: pointer;
}

.carousel-dots-li:last-of-type{
    margin: 0;
}

.carousel-dots-li.active {
    background-color: coral;
}

/*
.carousel-dots-li:hover {
    height: 20px;
    width: 20px;
}
*/

.prev, .next {
    cursor: pointer;
    font-size: 250%;
}

.prev {
    float: left;
}

.next {
    float: right;
}

/************************************************/
/************* Section 4 - Experience ***********/
/************************************************/

.section-experience {
    
}

/* Section 5 - Skills */
/************************************************/
/************** Section 5 - Skills **************/
/************************************************/

.section-skills {
    background: #fafafa;
}

ul > li .skill-name {
    display: inline-block;
    width: 60%;
}

ul > li .skill-score {
    float: right;
}

.skill-subsection {
    margin-right: -15px;
    margin-left: -15px;
}

.skill-column-1{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.skill-column-2{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.score-icon {
    color: darkcyan;
}








/* Section  - Footer */
/************************************************/
/************** Section   - Footer **************/
/************************************************/

footer {
    padding-top: 40px;
}

.footer-nav {
    text-align: center;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 150%;
}